/*Start contactus*/
section.Contcat-info {
  padding: 80px 0;
  background: url(../img/unnamed.png) no-repeat center center ;
  background-size: cover;
  position: relative;
  &::after {
    //content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000,0.8);
    top: 0;
    left: 0;
    z-index: 1;
  }
  .box-contact {
    width: 70%;
    margin: auto;
    background-color: rgba(#333,0.9);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(#000,0.3);
    color: #fff;
    position: relative;
    z-index: 2;
    .form {
      .form-control {
        padding: 0.375rem 20px;
        border-radius: 20px;
      }
      button.btn {
      display: block;
      width: 100%;
      border-radius: 25px;
      background-color: $Thard-color;
      color: #fff;
      padding: 5px 10px;
      box-shadow: 0 4px 0 0 $Four-color;
      transition: all 0.5s ease-in-out;
      border: none;
      &:hover {
        box-shadow: 0 0px 5px rgba(#000 ,0.3);
      }
    }
    }
    @media (max-width: 767.98px){
      width: 100%;
    }
    .form {
      @media (max-width: 767.98px){
        margin-bottom: 40px;
      }
    }
  }
}

/*End contactus*/
/* Start Map */

/* End Map */
