- var pageTitl = "about";
- var pageTitlplus = "Chairman";
<!DOCTYPE html>
html(lang="AR")
  head
    include include/head.pug
  body
    // start Header
    include include/header.pug
    //end Header
    // Start breadcrumb
    nav.breadcrumb-nav(aria-label='breadcrumb')
      .container
        ol.breadcrumb
          li.breadcrumb-item
            a(href='index.html') الرئيسية
          li.breadcrumb-item
            a(href='#')  من نحن 
          li.breadcrumb-item.active(aria-current='page') كلمة رئيس المجلس الإدارة 

    // End breadcrumb
    //start Photos
    section.Chairman
      .container.box
        .row
          .col-lg-7
            .info.m-5
              h2.text-center كلمة رئيس المجلس الإدارة 
              p منذ أن أشهر الاتحاد في الثالث والعشرين من أبريل العام 2006  ، ونحن نسعى جاهدين وبالتعاون مع الأخوة في مجلس الإدارة على السعي لتحقيق أكبر قدر ممكن من أهداف الاتحاد في رعاية مصالح الأعضاء والدفاع عن حقوقهم ، وأن نكون خير ممثل للمكاتب الهندسية والدور الاستشارية الكويتية أمام الجهات الرسمية والمساهمة وبفاعلية في تنظيم وتطوير مزاولة المهنة الهندسية في الكويت .
              p وفي إطار هذه المساعي نضع بين أيديكم لمحة موجزة لأبرز ما قمنا به خلال الفترة الوجيزة من عمر الاتحاد ، ونلتقي معكم اليوم لمزيد من التواصل والتعارف بيننا كزملاء مهنة يهمنا جميعا تحقيق المصلحة المشركة للجميع والارتقاء بالمهنة ونظم مزاولتها في نفس الوقت ، فنحن في أمس الحاجة اليوم إلى توحيد الجهود والتعاضد وشحذ الهمم وتخصيص جزء من الوقت من أجل الاتحاد من قبلنا جميعا وليس من قبل أعضاء مجلس الإدارة ، وآمل أن تلقي دعوتي هذه لمشاركتكم في أنشطتنا وفعالياتنا استجابة سريعة وفاعلة فالاتحاد قائم على جهودكم أولا ، والتفاعل مع قضايا المكاتب الهندسية يقاس بمدى تفاعلنا مع مجلس إدارة الاتحاد ، ونحن شرعنا الأبواب كلها لزملاء المهنة للمساهمة في هذه الأنشطة ونجدد التأكيد على أن المجال يتسع لنا جميعا ويحتاج لجهودنا جميعا أيضا .
              h5 الأخوة الأفاضل
              p إننا نحاول جادين في مجلس الإدارة لتفعيل التواصل معكم ، وتنشيط مشاركاتكم معنا في ما نبذله من جهود لخدمة الاتحاد والعمل على تحقيق أهدافه التي ننشدها جميعا ، وما نعرضه لكم ليس كشف حساب لما قمنا به ، بل توثيق نستنير به جميعا للتعرف على مزيد من القضايا  والمشاكل والأمور التي تحتاج منا جميعا اقتراح الحلول وآليات معالجتها للارتقاء في مزاولة وتنظيم المهنة الهندسية وتفعيل دور المكاتب الهندسية والدور الاستشارية الكويتية على الساحة المحلية .
                | وفقنا الله جميعا إلى ما يجب ويرضى . 
                |  والسلام عليكم ورحمة الله وبركاته ،،

          .col-lg-5 
            .image
              img.img-thumbnail.w-100(src="../img/849097.jpg", alt="")     
    //End Photos
    //-include include/scrollTop.pug
    include include/footer.pug
    // Start Scripts
    include include/script.pug
