- var pageTitl = "media";
- var pageTitlplus = "News";
<!DOCTYPE html>
html(lang="AR")
  head
    include include/head.pug
  body
    // start Header
    include include/header.pug
    //end Header
    // Start breadcrumb
    nav.breadcrumb-nav(aria-label='breadcrumb')
      .container
        ol.breadcrumb
          li.breadcrumb-item
            a(href='index.html') الرئيسية
          li.breadcrumb-item
            a(href='#') الإعلام
          li.breadcrumb-item
            a(href='news.html') اخبارنا
          li.breadcrumb-item.active(aria-current='page') تفصيل الخبر

    // End breadcrumb
    // Start News-info
    section.News-info
      .container
        .row
          .col-lg-12
            .news-deatels
              .image
                img.w-100.img-thumbnail(src="img/news1.png", alt="")
              .news-deatels-body 
                h5.mt-2 مدينة الكويت لسباقات السيارات
                .info.mb-3.ml-3
                  span.date 
                    i.far.fa-calendar-alt
                    |  مارس 25, 2021
                  span.user 
                    i.fas.fa-user
                    |  محمد محمود  
                  span.tag 
                    i.fas.fa-tags
                    |  انشاءات  
                p تحت رعاية حضرة صاحب السمو أمير دولة الكويت وبإشراف الديوان الأميري، تفتتح دولة الكويت معلما من الطراز العالمي، لتأخذ موقعها كأبرز وجهة لرياضة المحركات في العالم. تقع مدينة الكويت لرياضة المحركات في جنوب مدينة الكويت في طريق عريفجان 40 – على امتداد طريق الملك فهد.
                p وبنفس الطريقة الطموحة التي قام الديوان الأميري من خلالها بتنفيذ مجموعة من المشاريع الضخمة مثل مستشفى الجهراء ومركز الشيخ جابر الأحمد الثقافي ومركز الشيخ عبدالله السالم الثقافي وحديقة الشهيد والمسجد الكبير، يقوم الآن بإنشاء أكبر مدينة لرياضة المحركات في العالم، حيث سيتم إطلاق المرحلة الأولى منها خلال الربع الأول من عام 2018 والتي تم الانتهاء منها خلال ١٤ شهراً متواصلاً.
                p حيث صرح معالي رئيس الشؤون المالية والإدارية في الديوان الأميري عبد العزيز اسحق تم بناء مدينة الكويت لرياضة المحركات بشكل احترافي لتكون موطنًا لأحد أطول حلبات السباق في العالم والتي تضم سبعة حلبات لمجموعة متنوعة من رياضة سباق السيارات. تقدم مدينة الكويت لرياضة المحركات سباقاتها في أجواء مثيرة في مدينة مصممة لهذا الغرض بمساحة تبلغ 2.6 مليون متر مربع.
                p حيث تخلق مدينة الكويت لرياضة المحركات بيئة تنافسية للزوار ليطلقوا العنان لكامل إمكانياتهم. والتي قام المتسابق الشهير ومصمم حلبات السباق المعروف هيرمان تلكه (Hermann Tilke) بتصميم حلباتها، مما جعل مدينة الكويت لرياضة المحركات نابضة بالحياة.
                .row
                  .col-lg-6
                    h5.my-3 نبذة عن مدينة الكويت لرياضة المحركات
                    ul
                      li مضمار سباق رفيع المستوى وعالمي الطراز لإجراء السباقات في الهواء الطلق
                      li يقع جنوب دولة الكويت ويتميز بمضمار السباق الذي يمكن إقامة سباقات عالمية متنوعة
                      li إضافة إلى حلبات مركبات دراغستر ومركبات الكارتينج والحلبات الترابية. 
                      li فتحت مدينة الكويت لرياضة المحركات أبوابها للجمهور في عام 2018
                      li هي موطن لأهم فعاليات السباقات مع مدرجها الذي يستوعب أكثر من 8000 متفرج
                      li تحت إشراف وإدارة الديوان الأميري 
                      li تهدف مدينة الكويت لرياضة المحركات إلى وضع الكويت على الخارطة العالمية فيما يتعلق بإقامة السباقات العالمية.
                  .col-lg-6
                    .image
                      img.w-100.img-thumbnail(src="img/news2.png", alt="")
                p تحت رعاية حضرة صاحب السمو أمير دولة الكويت وبإشراف الديوان الأميري، تفتتح دولة الكويت معلما من الطراز العالمي، لتأخذ موقعها كأبرز وجهة لرياضة المحركات في العالم. تقع مدينة الكويت لرياضة المحركات في جنوب مدينة الكويت في طريق عريفجان 40 – على امتداد طريق الملك فهد.
                p وبنفس الطريقة الطموحة التي قام الديوان الأميري من خلالها بتنفيذ مجموعة من المشاريع الضخمة مثل مستشفى الجهراء ومركز الشيخ جابر الأحمد الثقافي ومركز الشيخ عبدالله السالم الثقافي وحديقة الشهيد والمسجد الكبير، يقوم الآن بإنشاء أكبر مدينة لرياضة المحركات في العالم، حيث سيتم إطلاق المرحلة الأولى منها خلال الربع الأول من عام 2018 والتي تم الانتهاء منها خلال ١٤ شهراً متواصلاً.
                p حيث صرح معالي رئيس الشؤون المالية والإدارية في الديوان الأميري عبد العزيز اسحق تم بناء مدينة الكويت لرياضة المحركات بشكل احترافي لتكون موطنًا لأحد أطول حلبات السباق في العالم والتي تضم سبعة حلبات لمجموعة متنوعة من رياضة سباق السيارات. تقدم مدينة الكويت لرياضة المحركات سباقاتها في أجواء مثيرة في مدينة مصممة لهذا الغرض بمساحة تبلغ 2.6 مليون متر مربع.
                p حيث تخلق مدينة الكويت لرياضة المحركات بيئة تنافسية للزوار ليطلقوا العنان لكامل إمكانياتهم. والتي قام المتسابق الشهير ومصمم حلبات السباق المعروف هيرمان تلكه (Hermann Tilke) بتصميم حلباتها، مما جعل مدينة الكويت لرياضة المحركات نابضة بالحياة.



          
            
              
        
    //End News-info
    //include include/scrollTop.pug
    include include/footer.pug
    // Start Scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
    include include/script.pug