- var pageTitl = "EngineeringOffices";
- var pageTitlplus = "Search";
<!DOCTYPE html>
html(lang="AR")
  head
    include include/head.pug
  body
    // start Header
    include include/header.pug
    //end Header
    // Start breadcrumb
    nav.breadcrumb-nav(aria-label='breadcrumb')
      .container
        ol.breadcrumb
          li.breadcrumb-item
            a(href='index.html') الرئيسية
          li.breadcrumb-item
            a(href='#') المكاتب الهندسية 
          li.breadcrumb-item.active(aria-current='page') البحث عن المكاتب الهندسية    

    // End breadcrumb

    // Start Search
    section.Search 
      .container
        
        .row
          .col-lg-4
            form.form
              h5.text-center.mb-3 البحث عن مكتب
              .form-group
                label  نوع المكتب
                select#exampleFormControlSelect1.form-control
                  option المكاتب المحلية
                  option المكاتب الأجنبية 
                  option المكاتب المتخصصة 
              .form-group
                label  اسم المكتب
                input.form-control(type='text', placeholder='اسم المكتب')
              .form-group
                label المنطقة
                select#exampleFormControlSelect1.form-control
                  option العاصمة
                  option حولى
                  option مبارك الكبير
                  option الاحمدى
                  option الجهراء
                  option الفروانية
              buttom.read-more(type="buttom") بحث
          .col-lg-8
            .card
              .row.no-gutters
                .col-md-12
                  img.w-100(src='img/635969869280020859_ab2308.jpg', alt='...')
                .col-md-12
                  .card-body
                    h5.card-title دار الهدية للإستشارات الهندسية
                    p.card-text
                      | لقد الشركة عام 1995 حيث بدأ الدار في تقديم خدماته الفنية في مجالات التخطيط العمراني، التصميم العمراني ودراسات الجدوى، الهندسة المعمارية، التصميم الداخلي، والتصميم الانشائي، التصميم الهندسي، إدارة المشاريع الانشائية والاشراف على التنفيذ.
                    p.card-text.addres
                      i.fas.fa-map-marker-alt
                      |  الشرق ، مدينة الكويت مجمع الأوقاف - البرج 12 مكتب 24،25،26
                    p.card-text.email
                      i.far.fa-envelope
                      |  alhadiah@alhadiah.net
                    p.card-text.phone
                      i.fas.fa-phone-volume
                      |  +965 22445535
    // End Search    
   
          
                

              
        
    //End Map
    //include include/scrollTop.pug
    include include/footer.pug
    // Start Scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
    include include/script.pug