//Start Map
section.map
  .mapouter
    .gmap_canvas
      iframe#gmap_canvas(src='https://maps.google.com/maps?q=Kuwait&t=&z=9&ie=UTF8&iwloc=&output=embed', frameborder='0', scrolling='no', marginheight='0', marginwidth='0')

//Start Contact us
footer.contact-us
  .container
    .row
      .col-lg-4
        .box-footer
          h4 كيف تجدنا
          .info-footer.d-flex
            .icon.pr-3
              i.fas.fa-map-marker-alt.fa-fw
            p بنيد القار , شارع السور, اتحاد المكاتب الهندسية والدور الاستشارية الكويتية
          .info-footer.d-flex
            .icon.pr-3
              i.fas.fa-mobile-alt.fa-fw
            p +965 66923894
          .info-footer.d-flex
            .icon.pr-3
              i.fas.fa-business-time.fa-fw
            p من الأحد إلى الخميس
          .info-footer.d-flex
            .icon.pr-3
              i.far.fa-clock.fa-fw
            p 9.00 صباحا : 12:30 مساءًا
          .info-footer.d-flex
            .icon.pr-3
              i.far.fa-clock.fa-fw
            p 5:00 مساءًا : 8:30 مساءًا
      .col-lg-4
        .box-footer
          h4 روابط مفيدة
          ul.list-unstyled
            li.list-item
              a.list-link(href="") غرفة تجارة وصناعة الكويت
            li.list-item
              a.list-link(href="") ديوان الخدمة المدنية لدولة الكويت
            li.list-item
              a.list-link(href="") إدارة مرور الكويت
            li.list-item
              a.list-link(href="") الأرصاد الجوية الكويتية
            li.list-item
              a.list-link(href="") مجلس الأمة دولة الكويت



      .col-lg-4
        .box-footer
          h4 تواصل معنا
          .info-footer.d-flex
            .icon.pr-3
              i.fas.fa-envelope-open-text.fa-fw
            a.d-block(href="#") kfeoch@gmail.com
          .socail-media
            a(href="")
              i.fab.fa-facebook-f.fa-fw
            a(href="")
              i.fab.fa-instagram.fa-fw
            a(href="")
              i.fab.fa-twitter.fa-fw
          .socail-links
            a(href="")
              img.w-100(src="../../img/google-play-download-android-app.svg", alt="")
            a(href="")
              img.w-100(src="../../img/app-store-logo.png", alt="")


//End social-media
//Start Footer
footer.footer.text-center
  div(class="copy_data text-center") Copyright  &copy; 2021 
    a(href="http://codexhome.com/" target="_blank") Codex-Home
    |  All Rights Reserved 
//End Footer