meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title اتحاد المكاتب الهندسية والدور الاستشارية الكويتية

// Faveicon 
link(rel='shortcut icon', href='img/004.png', type='image/x-icon')
link(rel='icon', href='img/004.png', type='image/x-icon')
// Fonts
link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap', rel='stylesheet')
link(rel='preconnect' href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')

link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")


link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
link(rel="stylesheet", href="css/jquery.fancybox.min.css")
link(rel="stylesheet", href="css/owl.theme.default.min.css")
link(rel="stylesheet", href="css/owl.carousel.min.css")
link(rel="stylesheet", href="css/animate.css")




// Font awesame Icon
link(rel="stylesheet", href="css/fontawesome.min.css")
// Bootstrap 4.5v
link(rel="stylesheet", href="css/bootstrap.rtl.css" id="bootstrapID")

// My style
link(rel="stylesheet", href="css/style.css" id="styleLTR")